
<br/>
<br/>
<body>
  <form>
<table class="table"  style="width: 1000px; margin-left: auto; margin-right: auto;"  >
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">구매한도서</th>
      <th scope="col">상세목록</th>
      <th scope="col">수량</th>
      <th scope="col">가격</th>
    </tr>
  </thead>

  <tbody>
    <% for (var i = 0; i < books.length; i++) { %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= books[i].book_name %></td>
        <td><a href='/detail/<%= books[i].book_number %>'>상세목록</a></td>
        <td><%= books[i].book_count %></td>
        <td><%= books[i].book_price %></td>
      </tr>
    <% } %>
  </tbody>
</table>
</form>
</body>